@using WebSiteBanHang.Models;
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@{
    IEnumerable<SanPham> lstDTM = (IEnumerable<SanPham>)ViewBag.ListDTM;
    IEnumerable<SanPham> lstLTM = ViewBag.ListLTM as IEnumerable<SanPham>;
    IEnumerable<SanPham> lstMTBM = ViewBag.ListMTBM as IEnumerable<SanPham>;
}
@*Bước 1 tách code*@
@*Bước 2 Gán dữ liệu từ controller thông qua ViewBag vào partialView*@
<div class="latest-products">
    <div class="container">
        <div class="products">
            @*Điện thoại*@
            @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstDTM);
            @*Máy tính bảng*@
            @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstMTBM);
            @*Máy laptop*@
            @Html.Partial("~/Views/SanPham/SanPhamStyle2Partial.cshtml", lstLTM);


        </div>  <!-- End Latest products -->
    </div> <!-- End products div-->
</div> <!-- End container latest products-->
