
@{
    ViewBag.Title = "LoiPhanQuyen";
}

<h2 style="margin-top: 100px;">
    Bạn không đủ quyền vào trang này vui lòng trở về trang chủ
    @Html.ActionLink("Trở về", "Index", "Home", null, null)

</h2>

